@import "tailwindcss";
@import "@nuxt/ui";

@source inline("max-w-{xs,sm,md,lg,xl,2xl,3xl,4xl,5xl,6xl,7xl}");
@source inline("ps-{4..24..4}");

:root {
   --ui-primary: var(--ui-color-neutral-900);
   --ui-primary-50: var(--ui-color-neutral-50);
   --ui-primary-100: var(--ui-color-neutral-100);
   --ui-primary-200: var(--ui-color-neutral-200);
   --ui-primary-300: var(--ui-color-neutral-300);
   --ui-primary-400: var(--ui-color-neutral-400);
   --ui-primary-500: var(--ui-color-neutral-500);
   --ui-primary-600: var(--ui-color-neutral-600);
   --ui-primary-700: var(--ui-color-neutral-700);
   --ui-primary-800: var(--ui-color-neutral-800);
   --ui-primary-900: var(--ui-color-neutral-900);
   --ui-primary-950: var(--ui-color-neutral-950);
}

.dark {
   --ui-primary: var(--ui-color-neutral-50);
}

:root {
   @apply selection:bg-inverted selection:text-inverted;
}

@utility scrollbar-hidden {
   -ms-overflow-style: none;
   scrollbar-width: none;
   &::-webkit-scrollbar {
      display: none;
   }
}

@layer utilities {
   .fade-enter-active,
   .fade-leave-active {
      transition: opacity 0.3s ease;
   }

   .fade-enter-from,
   .fade-leave-to {
      opacity: 0;
   }
}
